<div>
    <div class="col-md-12">
        <h1>FIND YOUR COMPANY</h1>
        <br>
    </div>
    <div>
        <h3>A reminder has been sent</h3>
        <br>
        <h4>
            If we found a SiftGrid user associated with (email address),<br> you will receive an email from us shortly<br>
            If you do not receive an email,you can<br> <a href="#">try another email address</a> or contact<br>your company administrator
        </h4>
    </div>
    <div><input type="text" placeholder="you@yourcompanydomain.com" style="background-color:#303030;" /></div>
</div>