<div align="center">
    <h1>FIND YOUR COMPANY</h1>
    <br>
    <h4>Please enter your email address and password</h4>
    <br>
    <form>
        <input type="text" name="email" class="companyInput" style="background-color:#303030; color: white;"  placeholder="you@yourcompanydomain.com" #email />
        <br>
        <br>
        <input type="password" name="password" class="companyInput" style="background-color:#303030; color: white;"  placeholder="Password" #password />
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary" (click)="checkLogin(email.value,password.value)">Continue</button>
    </form>
    <br>
    <h5><a href="#">I forget my password</a></h5>
    <br>
    <h4><i>access</i> EVERYTHINGS <i>from</i> ANYWHERE, ALL THE TIME</h4>
</div>