<div align="center">
    <h1>FIND YOUR COMPANY</h1>
    <h4>Please enter your email address</h4>
    <br>
    <form>
        <input type="email" name="email" class="companyInput" style="background-color:#303030;" placeholder="you@yourcompanydomain.com" #email />
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary">Send Me a Sign In Email</button>
    </form>
    <br>
    <h5>We'll send you an email with sign-in links for the SiftGrid<br> comapny domain associated with the address you enter</h5>
    <br>
    <h3>OR</h3>
    <br>
    <a href="#">Go back and enter a company</a>
    <br>
    <h4><i>access</i> EVERYTHINGS <i>from</i> ANYWHERE, ALL THE TIME</h4>
</div>